* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px; 
  margin-top: 100px; 
}

#canvas-container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1%;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  flex: 1;
}

.filled {
  background-color: black;
}

button {
  background: #666;
  color: white;
  border: none;
  border-radius: 4%;
  padding: 1.3rem;
  font-weight: bold;
  width: 25%;
  font-size: 1.4rem;
}

/* Media queries */
@media (max-width: 850px){
  #canvas-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px){
  #canvas-container {
    width: 300px;
    height: 300px;
  }
}
