* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px; 
  margin-top: 50px; 
  gap: 10px;
}

#canvas-container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1%;
}

.row {
  display: flex;
  flex: 1;
  border-bottom: 0.5px solid #999;
}

.box {
  flex: 1;
  border-right: 0.5px solid #999;
}

.filled {
  background-color: black;
}

button {
  background: #666;
  color: white;
  border: none;
  border-radius: 4%;
  padding: 1.3rem;
  font-weight: bold;
  width: 25%;
  font-size: 1.4rem;
}

#instructions {
  font-size: 1.6em;  
}

/* Media queries */
@media (max-width: 850px){
  #canvas-container {
    width: 400px;
    height: 400px;
  }

  body {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  #controls {
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 0;
  }

  #instructions {
    font-size: 1.6em;  
  }
}

@media (max-width: 650px){
  #canvas-container {
    width: 300px;
    height: 300px;
  }

  body {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  #controls {
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-top: 0;
  }

  #instructions {
    font-size: 1.2em;
    margin-top: 15px;
    text-align: center; 
    max-width: 300px; 
  }
}
